
<div class="main-content">
    <h1>Enhancv's <span>Resume Builder</span></h1>
    <p>helps you get hired at top companies</p>
    <div class="buttons">
        <a class="build-resume" href="/mytemplate">Build Your Resume</a>
        <a class="get-score" href="#">Get Your Resume Score</a>
    </div>

    <div class="resume-preview">
        <img alt="Resume Preview" src="https://storage.googleapis.com/a1aa/image/7l0VUokakH5JOdg02W2GIe7ie7Ku1IBptIzKr1i2OG5YKBpTA.jpg" width="600" height="400"/>
        <div class="badge">HIRED</div>
        <img alt="Profile Picture" class="profile-pic" src="https://storage.googleapis.com/a1aa/image/WcVDt21ffwgvepOykpNerqkhfyXzkjw79gfXUm70NEZ5lSQ6E.jpg" width="60" height="60"/>
    </div>
</div>
