
<div class="main-content">
    <h1>Enhancv's <span>Resume Builder</span></h1>
    <p>helps you get hired at top companies</p>
    <div class="buttons">
        <a class="build-resume" href="#">Build Your Resume</a>
        <a class="get-score" href="#">Get Your Resume Score</a>
    </div>
    <div class="resume-preview">
        <img alt="Resume Preview" src="/resume-preview.jpg" width="600" height="400"/>
        <div class="badge">HIRED</div>
        <img alt="Profile Picture" class="profile-pic" src="/profile-pic.jpg" width="60" height="60"/>
    </div>
</div>
