<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Resume Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat&display=swap" rel="stylesheet">
    <style>
       /* Resume Container Layout */
   
       #myresume{
        width: 1100px;
        height: 1300px;
        background-color: whitesmoke;
        position: absolute;
        left: 200px;
        top: 130px;

       }

       #sidebar{
        width: 350px;
        height: 1300px;
        background-color: black;
        position: absolute;
        left: 950px;
        top: 130px;
       }

        #headercontent{
            width: 500px;
            position: absolute;
            top: 50px;
            left: 100px;
            font-family: 'Montserrat', sans-serif;
             
        }

        #contenteditable::after{
            border-color: green;
        }


    </style>
</head>
<body>


    <div id="myresume">
       
     <h1 contenteditable="true"   id="headercontent">SHUBHAM RAJESH SAROJ</h1>
    


    </div>
    <div id="sidebar">

    </div>



    <script>
       
    </script>


   
</body>
</html>