<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Resume Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat&display=swap" rel="stylesheet">
    <style>
       /* Resume Container Layout */
   
       #myresume{
        width: 1100px;
        height: 1300px;
        background-color: whitesmoke;
        position: absolute;
        left: 200px;
        top: 130px;

       }

       #sidebar{
        width: 350px;
        height: 1300px;
        background-color: black;
        position: absolute;
        left: 950px;
        top: 130px;
       }

        #headercontent{
            width: 500px;
            position: absolute;
            top: 50px;
            left: 100px;
            font-family: 'Montserrat', sans-serif;
             
        }

        #headerdownline{
            position: absolute;
            top: 90px;
            left: 100px;
            color: orangered;

        }

        #phoneno{
            position: absolute;
            top: 130px;
            left: 100px;
            font-size: 15px;
        }

        #greyit{
            color: grey;
        }

        #gmail{
            position: absolute;
            left: 250px;
            top: 130px;
            font-size: 15px;
        }
        
        #links{
            position: absolute;
            left: 100px;
            top: 150px;
            font-size: 15px;
        }

        #links2{
            position: absolute;
            left: 100px;
            top: 170px;
            font-size: 15px;
        }

        #location{
            position: absolute;
            left: 500px;
            top: 170px;
            font-size: 15px;
        }

        

    </style>
</head>
<body>


    <div id="myresume">
       
     <h1 contenteditable="true"   id="headercontent">SHUBHAM RAJESH SAROJ</h1>
          
     <h4 contenteditable="true"   id="headerdownline">FULL STACK MERN DEVELOPER </h4>
     <p contenteditable="true" id="phoneno" > <i  id="greyit" class="fa fa-phone"></i> 8850497364 </p>
     <p contenteditable="true" id="gmail" > <span id="greyit">&#64;</span></i> shubhamrsaroj229@gmail.com</p>
     <p contenteditable="true" id="links" > <i id="greyit" class="fas fa-link"></i> https://github.com/shubhamrsaroj</p> 
     <p contenteditable="true" id="links2" > <i id="greyit" class="fas fa-link"></i>https://www.linkedin.com/in/shubham-saroj109/</p>
     <p contenteditable="true" id="location" > <i  id="greyit" class='fas fa-map-marker-alt'></i>Maharashtra/Mumbai</p>
     
    </div>
    <div id="sidebar">

    </div>



    <script>
       
    </script>


   
</body>
</html>