<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Resume Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
       /* Resume Container Layout */
   
       #myresume{
        width: 1100px;
        height: 1300px;
        background-color: whitesmoke;
        position: absolute;
        left: 200px;
        top: 130px;

       }

       #sidebar{
        width: 350px;
        height: 1300px;
        background-color: rgb(10, 109, 10);
        position: absolute;
        left: 950px;
        top: 130px;
       }

        #headercontent{
            width: 500px;
            position: absolute;
            top: 50px;
            left: 100px;
            font-family: 'Montserrat', sans-serif;
             
        }

        #headerdownline{
            position: absolute;
            top: 90px;
            left: 100px;
            color: orangered;

        }

        #phoneno{
            position: absolute;
            top: 130px;
            left: 100px;
            font-size: 15px;
        }

        #greyit{
            color: grey;
        }

        #gmail{
            position: absolute;
            left: 250px;
            top: 130px;
            font-size: 15px;
        }
        
        #links{
            position: absolute;
            left: 100px;
            top: 150px;
            font-size: 15px;
        }

        #links2{
            position: absolute;
            left: 100px;
            top: 170px;
            font-size: 15px;
        }

        #location{
            position: absolute;
            left: 500px;
            top: 170px;
            font-size: 15px;
        }

        [contenteditable="true"] {
        position: absolute;
        padding: 5px;
        cursor: text;
       
       
      }

     


      [contenteditable="true"]:focus {
        background-color: #fff;
        outline: 2px solid #00bfa5;
        box-shadow: 0 0 5px rgba(0, 191, 165, 0.3);
        border-radius: 2px;
    }

    
    .mypara{
        position: absolute;
        top: 35px;
        left:0px;
    }
    
    .mypara2{
        position: relative;
        margin-top: 56px;
        margin-left:0px;
    }

    .mypara6{
        position: relative;
        margin-top: 0px;
        margin-left:0px;
    }

    #mycontainer{
        width: 500px;
        height: 100px;
        background-color: white;
    }


    #myphoto{

        width:150px;
        height:150px;
        background-color: white;
        position: relative;
        top:80px;
        left:100px;

    }
     
    #myfile{
        width:200px;
        height:200px;
       
     }




#previewImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  #myupload{
    width: 100px;
    height: 100px;
    position: absolute;
    top:30px;
    left: 52px;

}
    
  
    </style>
</head>
<body>


    <div id="myresume">
    
        
     <h1 contenteditable="true"   id="headercontent">SHUBHAM RAJESH SAROJ</h1>
          
     <h4 contenteditable="true"   id="headerdownline">FULL STACK MERN DEVELOPER </h4>
     <p contenteditable="true" id="phoneno" > <i contenteditable="false"  id="greyit" class="fa fa-phone"></i> <span>8850497364 </span></p>
     <p contenteditable="true" id="gmail" > <span contenteditable="false" id="greyit">&#64;</span></i> <span>shubhamrsaroj229@gmail.com</span></p>
     <p contenteditable="true" id="links" > <i  contenteditable="false" id="greyit" class="fas fa-link"></i> https://github.com/shubhamrsaroj</p> 
     <p contenteditable="true" id="links2" > <i  contenteditable="false" id="greyit" class="fas fa-link"></i>https://www.linkedin.com/in/shubham-saroj109/</p>
     <p contenteditable="true" id="location" > <i contenteditable="false" id="greyit" class='fas fa-map-marker-alt'></i>Maharashtra/Mumbai</p>
     
    

    </div>
    <div id="sidebar">
        <div id="myphoto">
          <h1 id="myupload" > <input id="myfile" type="file" accept="image/*" style="display: none;">  </h1> <!-- Fixed syntax here -->
          
        
            <img id="previewImage" alt="Image Preview" style="display: none;">
          
        </div>
      </div>
      


    



    <script>
      

      //file enter

      const myimage = document.getElementById("myfile");
      const imagephoto=document.getElementById("myphoto");
      const myfile=document.getElementById("myupload");

      myfile.innerHTML = '<i class="fa fa-upload"></i>';

     
      myfile.addEventListener("click",()=>{
        myimage.click();
        myfile.style.display="none";
      })

      imagephoto.addEventListener("click",()=>{
        myimage.click();
      })


      imagephoto.appendChild(myfile);

myimage.addEventListener("change", function(event) {
  const file = event.target.files[0];

  if (file && file.type.startsWith('image/')) {
    const reader = new FileReader();

    reader.onload = function(e) {
      const previewImage = document.getElementById("previewImage"); // Assuming there's an <img> with this ID
      previewImage.src = e.target.result;
      previewImage.style.display = 'block';
    };

    reader.readAsDataURL(file);
  }
});

imagephoto.appendChild(myimage);






      const mysummary=document.createElement('div');
      const myproject=document.createElement('div');
      const para=document.createElement('p');
      const h=document.createElement('h2');
    
      const add=document.createElement('button');
      
      const h2=document.createElement("h2");
      const h3=document.createElement("h5");
      const para2=document.createElement('li');

      const deletebutton=document.createElement('button')


      mysummary.contentEditable="true";



      const myresume=document.getElementById('myresume');
   
      //h
      h.innerText="SUMMARY";
      h.style.cssText="font-family: 'Montserrat', sans-serif;font-size:20px;position:absolute;left:5px";
      h.contentEditable="false";
    
      //para

      para.innerText="Innovative MERN Full Stack Developer with a robust foundation in Java language and cutting-edge web technologies. Combining technical expertise with creative problem-solving skills to deliver sophisticated, user-centric digital solutions. Recognized as a Level 7 Expert at Coding Ninjas, demonstrating exceptional proficiency in algorithm design and competitive programming.";
      
      para.contentEditable="true";

      para.className="mypara";

    
      //projects and internship 

      h2.innerText="Projects and Internships";
      h2.style.cssText="font-family: 'Montserrat', sans-serif;font-size:20px;margin-left:5px;margin-top:50px";
      h2.contentEditable="false";



      h3.innerText="BookBazaar(Book Management Web Application)";
      h3.style.cssText="font-family: 'Montserrat', sans-serif;font-size:20px;margin-left:0px;margin-top:5px";
      h3.contentEditable="true";
      
      
      para2.innerText="Developed a comprehensive system for managing a personal book collection with features to add, view, update, and delete books.";
      
      para2.contentEditable="true";

      para2.className="mypara2";
      
      
      
      add.innerHTML="<i class=\"fa fa-plus\"></i>";

      add.style.cssText="position:absolute;left:620px;top:500px";

      
      deletebutton.innerHTML = '<i id="deletebutton" class="material-icons">delete</i>';


      deletebutton.style.cssText="width:20px;height:20px;position:absolute;left:650px;top:497px;border-style:none";

      
      
      myproject.style.cssText = "width: 590px; min-height: 180px; background-color:whitesmoke;margin-top:450px;margin-left:105px";
  
      


      //summary
      mysummary.style.cssText = "width: 590px; height: 180px; background-color: whitesmoke;position:absolute;top:230px;left:105px";
  
      mysummary.appendChild(h);
      mysummary.appendChild(para);
      myresume.appendChild(mysummary);
      myresume.appendChild(myproject);
      myproject.appendChild(h2);
      myproject.appendChild(h3);
      myproject.appendChild(para2);
      myproject.appendChild(add);
      myproject.appendChild(deletebutton);

      //delete functionality

      para2.addEventListener("click",event=>{
          
        if(event.key="Enter"){
        const newpara=document.createElement('li');

        para2.appendChild(newpara);

        }

      });

      add.addEventListener("click", () => {

        
    

        const newdiv = document.createElement('div');
        const h4 = document.createElement('h2');
        const h5 = document.createElement('h3');
        const para5 = document.createElement('p');

      h4.innerText=" BookBazaar(Book Management Web Application)";
      h4.style.cssText="font-family: 'Montserrat', sans-serif;font-size:20px;margin-left:5px;margin-top:50px";
      h4.contentEditable="false";

     

      h5.innerText="Projects and Internships";
      h5.style.cssText="font-family: 'Montserrat', sans-serif;font-size:20px;margin-left:0px;margin-top:5px";
      h5.contentEditable="true";
      
      
      para5.innerText="Developed a comprehensive system for managing a personal book collection with features to add, view, update, and delete books.";
      
      para5.contentEditable="true";

      para5.className="mypara2";
  
      para5.classList.add('mypara6');
      
     
      
      
     newdiv.appendChild(h4);
     
     newdiv.appendChild(h5);

     
     newdiv.appendChild(para5);


     const myposition = myproject.children[2].offsetHeight-40; // Get the bottom position of the third child


newdiv.style.cssText = `width: 590px; height: 180px; background-color:whitesmoke; position: relative; top: ${myposition}px; display: flex; flex-direction: column;`;
myproject.insertBefore(newdiv, myproject.children[5]);
    

});


deletebutton.addEventListener("click",()=>{
    myresume.removeChild(myproject);
})




//my education

const projectDiv = document.createElement('div');


const addButton = document.createElement('button');

const projectHeader = document.createElement("h2");
const projectSubHeader = document.createElement("h5");
const projectDescription = document.createElement('li');

const deleteButton = document.createElement('button');


const resumeContainer = document.getElementById('myresume');



// Projects and Internships Header
projectHeader.innerText = "My Education";
projectHeader.style.cssText = "font-family: 'Montserrat', sans-serif;font-size:20px;margin-left:5px;margin-top:50px";
projectHeader.contentEditable = "false";

// Project Subheader
projectSubHeader.innerText = "Master of Science";
projectSubHeader.style.cssText = "font-family: 'Montserrat', sans-serif;font-size:20px;margin-left:0px;margin-top:5px";
projectSubHeader.contentEditable = "true";

// Project Description
projectDescription.innerText = "Pondicherry University";
projectDescription.contentEditable = "true";
projectDescription.className = "mypara2";
projectDescription.style.cssText="color:rgb(10, 109, 10)";

// Add Button
addButton.innerHTML = "<i class=\"fa fa-plus\"></i>";
addButton.style.cssText = "position:relative;left:530px;top:-90px";

// Delete Button
deleteButton.innerHTML = '<i id="deletebutton" class="material-icons">delete</i>';
deleteButton.style.cssText = "width:20px;height:20px;left:550px;position:relative;top:-85px;border-style:none";

// Project Container Styles
projectDiv.style.cssText = "width: 590px; height: 100px; position:relative;background-color:whitesmoke;top:-80px;left:105px";

// Summary Styles

resumeContainer.appendChild(projectDiv);
projectDiv.appendChild(projectHeader);
projectDiv.appendChild(projectSubHeader);
projectDiv.appendChild(projectDescription);
projectDiv.appendChild(addButton);
projectDiv.appendChild(deleteButton);

// Delete Functionality
projectDescription.addEventListener("click", event => {
    if (event.key === "Enter") {
        const newItem = document.createElement('li');
        projectDescription.appendChild(newItem);
    }
});

// Add Button Functionality
addButton.addEventListener("click", () => {
    const newProjectDiv = document.createElement('div');
const newProjectHeader = document.createElement('h2');
const newProjectSubHeader = document.createElement('li');
const newProjectDescription = document.createElement('p');

// Update the project title to include degree and university
newProjectHeader.innerText = "Bachelor of Science in Computer Science ";
newProjectHeader.style.cssText = " font-family: 'Montserrat', sans-serif;font-size:20px;margin-left: 5px; margin-top: 2px;";
newProjectHeader.contentEditable = "true";

// Update the sub-header to include month and year
newProjectSubHeader.innerText = "Pillai College of Arts ,Commerce and Science";
newProjectSubHeader.style.cssText = "margin-left: 5px; margin-top: 35px";
newProjectSubHeader.contentEditable = "true";


newProjectDiv.appendChild(newProjectHeader);
newProjectDiv.appendChild(newProjectSubHeader);
newProjectDiv.appendChild(newProjectDescription);

const positionOffset = projectDiv.children[2].offsetHeight - 10; // Get the bottom position of the third child
newProjectDiv.style.cssText = `width: 590px; height: 100px; background-color: whitesmoke; position: relative; top: ${positionOffset-30}px; display: flex; flex-direction: column;`;
projectDiv.insertBefore(newProjectDiv, projectDiv.children[5]);
});

// Delete Button Functionality
deleteButton.addEventListener("click", () => {
    resumeContainer.removeChild(projectDiv);
});

    </script>


   
</body>
</html>